body {
	background-color: #f8f8f8;
	font-family: sans-serif;
}

div.content-ctr {
	align-items: center;
	display: flex;
  	justify-content: center;
	padding: 15px;
	width: 100%;
}

fieldset {
	background-color: white;
	border: 2px solid #34545F;
	border-radius: 5px;
	margin: 6px;
	width: 40%;
}

footer {
	background-color: #34545F;
	height: 100px;
	margin: 10px 0 0 0;
	padding: 2px;
}

footer p {
	color: #f8f8f8;
	font-size: 14px;
	font-style: italic;
	text-align: center;
}

header nav {
	align-items: center;
	background-color: #34545F;
	display: flex;
	height: 50px;
	justify-content: center;
	width: 100%;
}

h1 {
	color: #34545F;
	font-size: 30px;
	margin-bottom: 4px;
	text-align: center;
}

/* Style for site slogan. */
h1 + p {
	color: #34545F;
	font-size: 12px;
	margin-top: 0;
	text-align: center;
}

h3 {
	background-color: #eaeaea;
	color: black;
	font-size: 18px;
	font-weight: 400;
}

input[type="email"],
input[type="text"] {
	color: #707070;
	font-size: 16px;
	height: 24px;
	margin: 2px 0 2px 0;
	width: 100%;
}

input[type="email"]:focus {
	background-color: #eaeaea;
	color: black;
	font-weight: 400;
}

input[type="text"]:focus {
	text-transform: capitalize; 
}

legend,
.brief-description {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

main ul {
	list-style-image: url(../img/bullet.png);
}

main li {
	color: #707070;
	font-size: 16px;
	line-height: 24px;
}

main li b {
	color: #34545F;
}

main p a {
	font-size: 1.25em;
}

main p,
.description {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

nav a,
nav a:link,
nav a:visited {
	color: #f8f8f8;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover {
	text-decoration: underline;
}

nav ul {
	list-style-type: none;
	margin: 0;
}

nav li {
	display: inline;
	padding: 8px;
}

table.catalog-table {
	border: 0 none;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

table.charc {
	border: 2px solid #f8f8f8;
	border-collapse: collapse;
}

table.charc tr {
	height: 20px;
}

td.catalog-table-disc {
	padding-left: 8px;
	padding-right: 8px;
	text-align: left;
	vertical-align: top;
	width: 50%;
}

td.catalog-table-disc a,
td.catalog-table-disc a:link,
td.catalog-table-disc a:visited {
	color:cadetblue;
	text-decoration: none;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

td.catalog-table-disc a:hover {
	text-decoration: underline;
}

td.catalog-table-img {
	text-align: center;
	vertical-align: middle;
}

td.charc-names {
	background-color: #eaeaea;
	border: 2px solid #f8f8f8;
}

td.charc-count-set {
	background-color: #34545F;
	border: 2px solid #f8f8f8;
	font-weight: bold;
	width: 20px;
}

td.charc-count-none {
	background-color: #eaeaea;
	border: 2px solid #f8f8f8;
	font-weight: bold;
}

textarea {
	color: #707070;
	font-size: 16px;
	height: 100px;
	margin: 2px 0 2px 0;
	width: 100%;
}

textarea:focus {
	text-transform: capitalize;
}

.button-set {
	background-color: inherit;
	border-style: none;
}

.novelty{
	text-decoration: none;
}

.prod-photo-small {
	border: 4px solid #eaeaea;
}

.promo-img {
	width: 600px;
}